<form>
  <label for="description" class="form-label">Enter a description:</label>
  <div class="input-group mb-3">
    <input
      id="description"
      name="description"
      type="text"
      class="form-control"
      [(ngModel)]="description"
    />
    <button
      class="btn btn-outline-secondary"
      type="button"
      id="button-addon2"
      (click)="saveToDo()"
      [disabled]="description.length < 5"
    >
      Add
    </button>
  </div>
</form>
